<html>

<head>
    <title>About Us page of BookAssist</title>
    <link rel="stylesheet" href="/staticFiles/styleAboutBefore.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

<body>
    <div class="sub-header">
        <div class="navbar">
            <a href="/"><img src="/staticFiles/logo4.png" class="logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/HelpBefore">Help</a></li>
                <li><a href="/AboutUsBefore">About Us</a></li>
            </ul>
        </div>
    </div>

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>We'll provide you best recommendations</h1>
                <p>BookAssist is a book recommendation system that will provide you the book of your interest.It is like
                    your personal assistant which saves your time and energy by giving you trusted recommendations.</p>
                <a href="/login" class="btn">EXPLORE NOW &#8594;</a>
            </div>
            <div class="about-col">
                <img src="/staticFiles/onlinebook.jfif">
            </div>
        </div>
    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>BookAssist is a platform which prevent you from confusion to select a single book to read from so many promising choices and plethora of options.<br>BookAssist can ease this confusing process by providing suggestions about the books a user might like.</p>
        <!-- Testimonial  -->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>As a student along with the developer I sincerely experience the problem to find more books of same interest from different places. So by keeping this problem in mind we have created this book recommendation system which will surely help readers to maintain their interest towards reading. 
                        </p>
                        <img src="/staticFiles/ambika2.jpeg">
                        <h3>Ambika Bhardwaj</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>As the developer of Book_Assist, We are proud to introduce a website that is dedicated to
                            helping book lovers find their next great read. Our team has curated an extensive collection
                            of books from various genres, and we have designed our platform to make it easy for users to
                            discover and explore new titles.
                            We are committed to providing the best possible experience to our users, and we look forward
                            to helping you discover your next great read.

                        </p>
                        <img src="/staticFiles/Anu.jpg">
                        <h3>Anubhuti Upadhyay</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>I hope this small contibution of our's towards the society will help to attract the readers
                            to read more and more books of their interest and help them to gain more knowledge by the
                            trusted recommendations.
                        </p>
                        <img src="/staticFiles/anshita.jpeg">
                        <h3>Anshita Sharma</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="icons">
            <a href="https://www.facebook.com/anshita.sharma.127201?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fa fa-Twitter"></i></a>
            <a href="https://instagram.com/ambika._.bharadwaj?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-Instagram"></i></a>
            <a href="https://www.linkedin.com/in/anubhutiupadhyay" target="_blank"><i class="fa fa-LinkedIn"></i></a>
            
        </div>
    </section>
</body>
</html>